src/main/mule/advertiser-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="advertiser-papi-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="advertiser-papi-config" api="advertiser-papi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="710997b6-7f2f-46df-b859-b4ffde477df8" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration_TTD" doc:name="HTTP Request configuration" doc:id="23d600ae-963d-4ca4-96ff-a38d0deffceb" >
		<http:request-connection host="${httprequest.ttdhost}" port="${httprequest.ttdport}" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration_DV360" doc:name="HTTP Request configuration" doc:id="09fdc349-9de4-45d2-a0c7-6c88be63f191" >
		<http:request-connection host="${httprequest.dv360host}" port="${httprequest.dv360port}" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration_Xandr" doc:name="HTTP Request configuration" doc:id="e2ff5247-a4de-4697-ba8d-e4ce4b3f76b3" >
		<http:request-connection host="${httprequest.Xandrhost}" port="${httprequest.Xandrport}" />
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="cfa7f345-8ebf-4740-a677-f3d29da36816" file="properties/Sandbox.yaml" />
	<flow name="advertiser-papi-main">
        <http:listener config-ref="advertiser-papi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="advertiser-papi-config" />
    </flow>
    <flow name="advertiser-papi-console">
        <http:listener config-ref="advertiser-papi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="advertiser-papi-config" />
    </flow>
    <flow name="put:\advertisers:application\json:advertiser-papi-config">
        <logger level="INFO" message="put:\advertisers:application\json:advertiser-papi-config" />
		<ee:transform doc:name="Transform Message" doc:id="8c5e1af9-1ae5-4091-b555-e29be5191416" >
			<ee:message >
				<ee:set-payload ><![CDATA[payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="74852ed6-d5d5-4fb5-ae30-2b284ac27649" message="Payload received : #[payload]"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="db6a41a5-48b9-4dcc-b49f-2c2fd57f91c7" >
			<route >
				<try doc:name="Try" doc:id="1b1d6e9d-4a30-4ff7-985c-92567ba50d6c">
						<http:request method="PUT" doc:name="Request" doc:id="2ccc9e90-493e-4677-8556-90c345b5a758" path="/api/advertisers" config-ref="HTTP_Request_configuration_TTD" responseTimeout="200000" />
					<error-handler>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="562e9a1a-f26f-4ea4-ae09-369a0275f242">
							<ee:transform doc:name="Transform Message" doc:id="2ad83233-d4bb-42ee-af21-5c49aef74d49">
								<ee:message>
									<ee:set-payload resource="dataweave/error.dwl" />
								</ee:message>
							</ee:transform>
							<logger level="INFO" doc:name="Logger" doc:id="6e3326ed-855d-4f7d-90a3-cd55263c340c" message="#[payload]"/>
						</on-error-continue>
						</error-handler>
					</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="5f892080-7ee1-483b-a1cf-bfffc3d7969b">
						<http:request method="PUT" doc:name="Request" doc:id="5ae4b526-31e3-41f7-b74c-6dbddbbda7e8" path="/api/advertisers" config-ref="HTTP_Request_configuration_DV360" responseTimeout="200000" />
					<error-handler>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a478b38b-5561-4910-8a19-30a8b05dd550" >
							<ee:transform doc:name="Transform Message" doc:id="8f6dcd48-a164-419b-b2b4-7bc42376a203" >
								<ee:message >
									<ee:set-payload resource="dataweave/error.dwl" />
								</ee:message>
							</ee:transform>
							<logger level="INFO" doc:name="Logger" doc:id="3b53f0fa-db7e-41ab-9530-513780e50e8e" />
						</on-error-continue>
						</error-handler>
					</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="617fc689-055e-4c94-ad70-409f50c38fad">
						<http:request method="PUT" doc:name="Request" doc:id="3ba1e09e-10b9-45a7-a8d2-ec55917b3a37" path="/api/advertisers" config-ref="HTTP_Request_configuration_Xandr" responseTimeout="200000" />
					<error-handler>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5c828613-5e83-4ace-a06e-95b60d629ab7">
							<ee:transform doc:name="Transform Message" doc:id="70a7b821-2208-45d0-bfab-3e544bce135e">
								<ee:message>
									<ee:set-payload resource="dataweave/error.dwl" />
								</ee:message>
							</ee:transform>
							<logger level="INFO" doc:name="Logger" doc:id="cf1e6127-3350-4fd9-a107-4307ba7d1174" message="#[payload]"/>
						</on-error-continue>
						</error-handler>
					</try>
			</route>
			
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="9f0e8e5c-6921-4b68-acb2-f6ed69cbb9d4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	{
		"FirstRoute": payload."0".payload
	},
	{
		"SecondRoute": payload."1".payload
	},
	{
		"ThirdRoute": payload."2".payload
	}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e96f484e-d87f-44b5-87d1-a8371314d627" message="#[payload]"/>
    </flow>
</mule>
